.app-container {
  max-width: 800px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dark-mode {
  color: #fff;
}

button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  font-size: 0px;
  cursor: pointer;
}
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px #ffffff; 
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #5e1b2d; 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff; 
  }

  /* Tailwind CSS orqali qo'shimcha sinf */
.scrollbar-hidden::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scrollbar-hidden {
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer and Edge */
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out;
}